*{
    box-sizing: border-box;
}


html, body, #root, #wholeContainer{
    height: 100%;
    width: 100%;
}

html, body{
    margin: 0;
}

#wholeContainer{
    background-color: grey;
}



/* Header */

#headerTitleContainer{
    display: flex;
    align-items:center;
}

#headerTitle{
    font-size: 50px;
}


/* library */
#libraryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardContainer{
    text-align: center;
}


/* scoreboard Container */ 

#scoreboardContainer{
    display: flex;
}


/* gameEnd overlay  */

#gameEndOverlayContainer{
    z-index: 10;
    display: block;
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 50px;
    text-align: center;
}

#gameEndMessage{

}

#btnPlayAgain{

}