*{
    box-sizing: border-box;
}


html, body, #root, #wholeContainer{
    height: 100%;
    width: 100%;
}

html, body{
    margin: 0;
}

#wholeContainer{
    background-color: grey;
}

#libraryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardContainer{
    text-align: center;
}


#gameEndOverlayContainer{
    z-index: 10;
    background-color: black;
    color: white;
}

#gameEndMessage{

}

#btnPlayAgain{

}